.App {
  text-align: center;
}

.container {
  max-width: 700px !important;
}

.month {
  width: 100%;
}

.day-box {
  width: 14%;
}

.day {
  width: 30px;
  cursor: pointer;
  margin: 0 auto;
  padding: 2px
}

.day-highlight {
  background-color: #e6194B;
  border-radius: 15px;
}

.day-current {
  border: 2px solid black;
  border-radius: 15px;
}

.day-old {
  cursor: default
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}